<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>664335931229-tnn7rs9rspp3g65ko493r91hf1oqj2ia.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCISHKOIjGdq03w0HE3_eeO5DuMofu1tlY</string>
	<key>GCM_SENDER_ID</key>
	<string>664335931229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sioc.sma.flutterCitizenapp</string>
	<key>PROJECT_ID</key>
	<string>sioc2a</string>
	<key>STORAGE_BUCKET</key>
	<string>sioc2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664335931229:ios:a251aa26e60258bcbebab4</string>
</dict>
</plist>